h3 {
  color: #1a1a1a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #dddcdc;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
